<!DOCTYPE html>
<html lang="ja">
  <head>
      <meta charset="utf-8" />
      <title>ここlogue - 気持ちでつながるSNS</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <script type="text/javascript" src="assets/home.js"></script>
      <link rel="stylesheet" href="assets/home.css" />
      <!--link rel="stylesheet" href="css/jquery-ui.css" /-->
  </head>
  <body>

    <nav>
      <div class="nav-wrapper deep-orange lighten-4">
        <a class="brand-logo left" href="/">ここlogue</a>
        <ul class="right hide-on-med-and-down">
          <li><a href"...." onclick="way()">Walking<img src="./feelings/sampo.png" width="15px" height="30px"></a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown" data-beloworigin="true">Search<i class="material-icons right white-text">search</i></a></li>
        </ul>

        <!-- Dropdown Structure -->
        <ul id="dropdown" class="right dropdown-content collection">
          <li><a href="/anticipacion"><img src="./feelings/img01.png" width="30px" height="30px" class="center-block"></a></li>
          <li><a href="/joy"><img src="./feelings/img02.png" width="30px" height="30px" class="center-block"></a></li>
          <li><a href="/trust"><img src="./feelings/img03.png" width="30px" height="30px" class="center-block"></a></li>
          <li><a href="/fear"><img src="./feelings/img05.png" width="30px" height="30px" class="center-block"></a></li>
          <li><a href="/surprize"><img src="./feelings/img06.png" width="30px" height="30px" class="center-block"></a></li>
          <li><a href="/sadness"><img src="./feelings/img11.png" width="30px" height="30px" class="center-block"></a></li>
          <li><a href="/disugust"><img src="./feelings/img12.png" width="30px" height="30px" class="center-block"></a></li>
          <li><a href="/anger"><img src="./feelings/img13.png" width="30px" height="30px" class="center-block"></a></li>
        </ul>
      </div>
    </nav>
    <div id="map">
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBp2i1X61b72NGPlgaljJaYvP0SywGMb28&callback=initMap"></script>
    </div><!--#map-->

    <script type="text/javascript">

var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 41.84181747, lng: 140.7669687},
    zoom: 14
  });
}
    </script>
    <div id="bottom_bar" class="deep-orange lighten-4">
      <a id="walk_button" class="btn-floating right btn-small waves-effect waves-light red" ><i class="material-icons" onclick="searchMarker()">room</i></a>
    </div>
  </body>
</html>